#modalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 80px;
}

.inputLine {
    display: flex;
}

.inputLine > .inputGroup:first-child {
    margin-right: 40px;
}

#inputButton {
    align-self: flex-start;
    margin-top: 40px;
}

#modalError {
    margin-top: 40px;
    color: #fc0f03;
}