#createCompanyModal {

}

#modalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 20px;
}

#exitBtn {

}

#exitBtn:hover {
    cursor: pointer;
}