.container {
    display: flex;
    justify-content: center;
    background: #f9f9f9;
}

#adminSidebar {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 180px;
    z-index: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.sidebarBtn {
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #333;
}

@media(max-width: 800px){

    .container {
        flex-direction: column;
        align-items: center;
    }

    #adminSidebar {
        flex-direction: row;
        justify-content: center;
    }

    .sidebarBtn {
        padding: 0 30px;
    }
}

@media print {
    #adminSidebar {
        display: none;
    }
}