#changePasswordPage {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    width: 100vw;
}

#changePasswordSection {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 60px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

#sectionHeader {
    margin: 20px 0;
    text-align: center;
}

.inputGroup {
    margin-bottom: 20px;
}

#resetButton {
    margin: 10px 0 30px 0;
}