#createPage {
    background: #eee;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

#createSection {
    background: #fff;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sectionHeading {
    margin-top: 20px;
}

#actionButtons {
    margin: 20px 0 20px 0;
}

#actionButtons > button:first-child {
    margin-right: 20px;
}