#dashboard {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    min-height: 120vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: center;
}

#adminBar {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminBtn {
    padding: 10px;
    font-size: 27px;
    color: #000;
}

#dashboardContent {
    width: 900px;
}

@media(max-width: 1200px) {

    .container {
        width: 90vw;
    }

}