#loginForm {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm h2 {
    margin-top: 30px;
}

.inputGroup {
    margin-top: 20px;
}

#forgotText {
    margin-top: 20px;
}

#forgotLink {
    color: blue
}

#loginButton {
    margin-top: 20px;
    margin-bottom: 20px;
}