#registerPage {
    display: flex;
    flex-direction: column;
}

#loginForm {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm h2 {
    margin-top: 30px;
}

#loginForm .inputGroup {
    margin-top: 20px;
}

#loginForm button {
    margin-top: 30px;
    margin-bottom: 20px;
}

#formNavigation > *:first-child {
    margin-right: 20px;
}