#sendPage {
    background: #eee;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sendSection {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

#sectionHeading {
    margin-top: 20px;
}

#inputGroup {
    margin-top: 20px;
}

#sendButton {
    margin: 40px 0 30px 0;
}

#sentHeader {
    font-size: 20px;
    font-weight: normal;
}