#settings {
    background: #f9f9f9;
}

.container {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settingsTitle {
    margin: 20px 0;
}

@media (max-width: 1000px) {
    .container {
        width: 60vw;
    }
}