#summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    height: 120vh;
    width: 80vw;
}

#summaryByDay {
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: 100%;
}

#summaryByDay select {
    margin-top: 40px;
}