#user {
    display: flex;
}

#userContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

@media(max-width: 1500px){
    #userContent {
        width: 50vw;
    }
}

@media(max-width: 1000px){
    #userContent {
        width: 80vw;
    }
}

@media print {
    #userContent {
        width: 100%;
    }
}
