
#users {
    display: flex;
    background: #f9f9f9;
}

#usersSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    background: #fff;
    padding: 20px 30px;
    margin-right: 20px;
    margin-top: 20px;
}

#usersSection > h2 {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

#groupList {
}

#groupList a {
    color: #333;
}

#groupList > * {
    width: 400px;
    padding: 16px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#groupList button {
    color: #333;
    border-bottom: none;
}

@media(max-width: 700px) {
    #users {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #userList {
        width: 90%;
    }

    #userList > * {
        max-width: 280px;
    }
}