#adminBar {
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#adminBtn {
    padding: 10px;
    font-size: 27px;
    color: #000;
}