
.dropdown {
    border:  1px solid #fff;
    background: var(--primary-color);
    width: 180px;
    height: 40px;
    position: relative;
}

.dropdownButton {
    background: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dropdownButtonMobile {
    display: none;
}

.dropdown > button:hover {
    cursor: pointer;
}

.dropdownList {
    position: absolute;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 8px;
    z-index: 1;
}

.dropdownList a,
.dropdownList button {
    color: #333;
    font-size: 16px;
    padding: 6px 0;
    border-bottom: 1px solid #f7f7f7;
}

.dropdownList > *:last-child {
    border-bottom: none;
}