.groupHeader {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #333;
    padding: 10px 0;
}

.disabledHeader {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    color: #d3d3d3;
}

.disabledColor {
    color: #d3d3d3
}

.groupButton {
    outline: none;
    background: transparent;
    border: none;
    font-size: 16px;
    margin-right: 20px;
}

.groupButton:hover {
    cursor: pointer;
}

.groupName {
    font-size: 16px;
    font-weight: bold;
}

.groupLink {
    color: #000;
    font-size: 16px;
    text-align: left;
    margin: 0 0 0 40px;
}

.profile {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}