
#navbar {
    height: 8vh;
    background: var(--primary-color);
    box-shadow: 0 4px  rgba(0, 0, 0, 0.6);
    z-index: 2;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#navLink {
    color: #fff;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    margin-right: 30px;
}



@media print {
    #navbar {
        display: none;
    }
}