#notesText {
    width: 660px;
    height: 300px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    resize: none;
}

#notesHeading {
    font-size: 26px;
    font-weight: normal;
}

#actionBar{
    margin: 50px 0 30px 0;
}

#actionBar > * {
    margin: 10px;
}