#printableUser {
    display: none;
}

#timesheetTable {
    border-collapse: collapse;
}

.tdStart {
    width: 100px;
    height: 30px;
    text-align: start;
}

.tdInner {
    border: 1px solid #000;
    width: 120px;
    height: 30px;
    text-align: center;
}

#notesArea {
    margin-top: 20px;
    height: 140px;
}

@media print {

    #printableUser {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    #printableUser .button-bar{
        display: none;
    }

    #printableUser table {
        margin: 40px 0;
    }

    .inputGroup {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .inputGroup > *:first-child {
        margin-right: 20px;
    }

}