.punchList {
    overflow-y: scroll;
    height: 540px;
    width: 650px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.punchListPunches {
    padding-right: 20px;
    width: 100%;
}

.punchList > p {
    margin-top: 40px;
}