#summaryTable {
    border-collapse: collapse;
    margin-top: 40px;
    color: #333;
}

#summaryTable td {
    width: 80px;
    padding: 16px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
}

#summaryTable th {
    width: 80px;
    padding: 16px 0;
    border-bottom: 1px solid #eee;
}

#summaryTable .user {
    width: 300px;
    height: 40px;
    border-bottom: 1px solid #eee;
}