#timesheetTable {
    border-collapse: collapse;
}

.buttons {
    margin: 40px 0 20px 0;
}

.tInput {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
}

.tdInner {
    border: 1px solid #ddd;
    text-align: center;
    max-width: 120px;
    height: 40px;
}

.tdRowStart {
    text-align: start;
    width: 80px;
    height: 40px;
}

.tdSum {
    text-align: center;
}

#actionBar{
    margin: 50px 0 30px 0;
}

#actionBar > * {
    margin: 10px;
}

@media(max-width: 800px) {
    .fullHeader {
        display: none;
    }
}