#settingsHolidays {
    padding: 20px 0 0 0;
    margin-bottom: 20px;
}

#holidayList {
    overflow-y: scroll;
    max-height: 400px;
    padding-right: 10px;
}

.holidayItem {
    margin-bottom: 10px;
}

.holidayNameInput {
    width: 240px;
    padding: 10px 6px;
    margin-right: 20px;
    text-align: start;
    border: 1px solid #ddd;
    font-size: 16px;
}

.holidayMonthSelect {
    padding: 10px 6px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.holidayDayInput {
    width: 60px;
    padding: 10px 6px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ddd;
    margin-right: 20px;
}

.holidayModBtn {
    border: none;
    background: transparent;
    font-size: 20px;
    margin-right: 10px;
}

.holidayModBtn:hover {
    cursor: pointer;
}

.addButton {
    background: #508991;
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    padding: 0 16px;
    font-size: 16px;
}

.addButton:hover {
    cursor: pointer;
}

#controlButtons {
    margin: 40px 0 20px 0;
}