#settingsGroups {       
    padding: 20px 0 0 0;
    margin-bottom: 20px;
}

#groupList {
    overflow-y: scroll;
    max-height: 400px;
    padding-right: 20px;
}

.groupItem {
    margin-bottom: 10px;
}

.groupNameInput {
    width: 240px;
    padding: 10px 6px;
    margin-right: 20px;
    text-align: start;
    border: 1px solid #ddd;
    font-size: 16px;
}

.removeGroupBtn {
    border: none;
    background: transparent;
    font-size: 20px;
}

.removeGroupBtn:hover {
    cursor: pointer;
}

.addGroupBtn {
    background: #508991;
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    padding: 0 16px;
    font-size: 16px;
}

.addGroupBtn:hover {
    cursor: pointer;
}

#controlButtons {
    margin: 40px 0 20px 0;
}