#settingsDepartment {
    margin-bottom: 20px;
}

#settingsDepartment h2 {
    margin: 30px 0;
}

#departmentForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}


#inviteInput {
    position: relative;
}

#redoBtn {
    position: absolute;
    right: 16px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
}

#redoBtn:hover {
    cursor: pointer;
}

#actionBar {
    margin: 40px 0 20px 0;
}

@media (max-width: 800px) {
    #departmentForm {
        grid-template-columns: repeat(1, 1fr);
        width: 200px;
    }

    #departmentForm .input-group {
        width: 200px;
    }

    #departmentForm .input-group label,
    #departmentForm .input-group input {
        width: 200px;
    }
}