#dashboardPunches {
    min-height: 800px;
    margin-bottom: 20px;
}

#dashboardPunches > h4 {
    margin-top: 20px;
}

#controlBtns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#controlBtns > *:first-child{
    margin-right: 20px;
}

.controlBtn {
    background: none;
    border: none;
    font-size: 16px;
}

.controlBtn.selected {
    border-bottom: 1px solid #000;
}

.controlBtn:hover { 
    cursor: pointer;
}