
#dashboardConsole {
    margin: 20px 0;
    padding: 0;
    position: relative;
    width: 100%;
}

#companyHeader {
    margin-top: 30px;
    font-weight: normal;
    font-size: 36px;
}

#clockHeader {
    font-weight: normal;
    font-size: 20px;
    margin-top: 30px;
}

#clockBtn {
    margin-bottom: 40px;
    margin-top: 20px;
}
