.loaderSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 200px;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.loaderSection > *:first-child {
    margin-right: 20px;
}