#timesheetSection {
    margin-bottom: 20px;
    min-height: 800px;
}

#headingRow {
    margin-top: 30px;
    margin-bottom: 40px;
}

#headingRow > * {
    margin-right: 16px;
}

#headingRow > *:first-child {
    margin-right: 30px;
}

#controlBtns {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

#controlBtns > *:first-child{
    margin-right: 20px;
}

.controlBtn {
    background: none;
    border: none;
    font-size: 16px;
}

.controlBtn.selected {
    border-bottom: 1px solid #000;
}

.controlBtn:hover { 
    cursor: pointer;
}

@media(max-width: 800px) {
    #headingGroup {
        flex-direction: column;
        align-items: center;
    }
}

@media print {
    #userTimesheet {
        display: none;
    }
}