#userNotes {
    margin-bottom: 20px;
}

#userNotes .button-bar {
    margin: 20px 0 0 0 ;
}

#timesheetNotes {
    width: 100%;
    height: 140px;
    padding: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    resize: none;
}

#timesheetNotes:focus {
    outline: none;
}

.controlButtons {
    margin-top: 20px;
}

@media print {
    #userNotes {
        display: none;
    }
}