
#userPunches {
    margin-bottom: 20px;
}

#userPunches .button-bar {
    margin: 50px 0 30px 0;
}

#userPunches > button {
    margin: 30px 0;
}

@media print {
    #userPunches {
        display: none;
    }
}