#userSettings {
    margin-bottom: 20px;
}

#userEditForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin: 0 20px 40px 0;
}

#actionBar > button:first-child {
    margin-right: 20px;
}