#userSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    background: #fff;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px 30px;
    width: 300px;
}

#sidebarHeader {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 20px 0;
}

#groupList {
    width: 100%;
}

#userSidebar .userLink {
    padding: 16px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    color: #333;
}

#userSidebar > button {
    color: #333;
    border-bottom: none;
    padding: 16px 0;
}


@media(max-width: 1000px){
    #userSidebar {
        display: none;
    }
}

@media print {
    #userSidebar {
        display: none;
    }
}