#userSettings {
    margin-top: 20px;
}

#userEditForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;
    width: 100%;
}

#userSettings button {
    margin-right: 20px;
    margin-bottom: 40px;
}

@media(max-width: 800px) {
    #userEditForm {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media print {
    #userSettings {
        display: none;
    }
}