@media print {

}

@media(max-width: 700px){
    #navbar ul {
        display: none;
    }

    #navbar .container {
        justify-content: center;
    }

    .scroll {
        overflow-y: hidden;
        height: fit-content;
    }
}