@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Contains CSS that is used throughout the entire project */

:root {
    --primary-color: #508991;
    --secondary-color: #172a3a;
    --success-color: #4BB543;
    --danger-color: #Ca0b00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight:normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* button */

.btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-family: inherit;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-success {
    background-color: var(--success-color);
}

.btn-danger {
    background-color: var(--danger-color);
}

.btn-transparent {
    background: transparent;
    padding: 0;
}

.cursor-point:hover {
    cursor: pointer;
}

.exit-btn {
    position: absolute;
    top: 50%;
    left: 25px;
    color: #fff;
    background: transparent;
    border: none;
    font-size: 26px;
    transform: translateY(-50%);
}

/* color */

.color-danger {
    color: var(--danger-color);
}

.color-dark {
    color: #333;
}

.color-light {
    color: #888;
}

/* table */

.td-minor {

}

.month-header {

}

/* select */

.select {
    padding: 10px 20px;
    height: 40px;
}

/* input */

.input {
    display: block;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 10px 6px;
}

.input::placeholder {
    font-size: 16px;
    color: #ddd;
}

.input-label {
    display: block;
    width: 100%;
    text-align: start;
    color: var(--primary-color);
    font-size: 16px;
}

.input-group {

}

.input-level {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.input-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 30px
}

.landing {
    background: url('https://images.unsplash.com/photo-1439754389055-9f0855aa82c2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1934&q=80');
    position: relative;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -100;
}

/* heading */

.section-heading {
    font-size: 24px;
    font-weight: normal;
}

.page-heading {
    font-size: 36px;
    font-weight: normal;
}

.subtext {
    font-size: 12px;
}

/* background */

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-light {
    background-color: #fff;
}

/* modal */

.modal {
    position: fixed;
    top: 50vh;
    left: 50vw;
    background: #fff;
    z-index: 2;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header {
    position: relative;
    background: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.modal-header h2 {
    margin: 10px 0;
}

/* Text helpers */
.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.text-light {
    color: #fff;
}

.text-center {
    text-align: center;
}

/* position, size, layout */

.full-width {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-shadow {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.button-level button {
    margin-right: 20px;
}

.loader-img {
    max-width: 80px;
    height: 80px;
}

.ml-30p {
    margin-left: 30px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.section > .section-heading {
    margin: 10px 0 30px 0;
}

.button-bar {
    display: flex;
    justify-content: center;
}

.button-bar > * {
    margin-right: 10px;
}

.underline {
    border: none;
    border-bottom: 1px solid #000;
}

@media(max-width: 1700px){
    .month-header {
        display: none;
    }
}

@media(max-width: 700px){
    .td-minor {
        display: none;
    }

    .add-user-form {
        grid-template-columns: repeat(1, 1fr);
    }

    .dropdown-button {
        display: none;
    }

    .dropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        width: 40px;
        height: 40px;
    }

    .dropdown-button-mobile {
        display: block;
        width: 100%;
        height: 100%;
        background: var(--primary-color);
        color: #fff;
        border: none;
        font-size: 22px;
    }

    .dropdown-list {
        top: 0;
    }
}

@media print {
    .td-inner {
        border: 2px solid #000;
    }
}